body{
    background-image: url() no repeate top center;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 30px;
  }
  h1{
   padding: 5px 5px 0px 0px;
   text-align: center;
   width: 600px;
   border-radius: 15px 15px 0px 0px;
   background-color:rgb(235, 239, 240);
   border-radius: 15px 15px 0px 0px;
   margin: auto;
   color: #00458B;
   font-size: 25px;
   font-weight: 30px;
  }
  label{
    color: #00458B;
  }
  .container{
    max-width: 50%;
    padding-top: 30px;
    border: 1px solid  black;
    border-radius: 8px;
    border: inset;
    border-color: rgb(216, 216, 127);
    
  }
  .btn{
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
