meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/public/stylesheet/aboutUs.css")
script(src="https://kit.fontawesome.com/06eb17d45a.js", crossorigin="anonymous")
title About Us
style.
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .section {
    width: 100%;
    min-height: 100vh;
    background-color: white;
  }
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
  }
  .content-section {
    float: left;
    width: 55%;
  }
  .image-section {
    float: right;
    width: 40%;
  }
  .image-section img {
    width: 100%;
    height: auto;
  }
  .content-section .title {
    text-transform: uppercase;
    font-size: 20px;
  }
  .content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
  }
  .content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
  }
  .content-section .content .button {
    margin-top: 30px;
  }
  .content-section .content .button a {
    background-color: #3d3d3d;
    padding: 12px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  .content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
  }
  .content-section .social {
    margin: 40px 40px;
  }
  .content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
  }
  .content-section .social i:hover {
    color: #3d3d3d;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 80%;
      display: block;
      margin: auto;
      padding-top: 50px;
    }
    .content-section {
      float: none;
      width: 100%;
      display: block;
      margin: auto;
    }
    .image-section {
      float: none;
      width: 100%;
    }
    .image-section img {
      width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
    .content-section .title {
      text-align: center;
      font-size: 19px;
    }
    .content-section .content .button {
      text-align: center;
    }
    .content-section .content .button a {
      padding: 9px 30px;
    }
    .content-section .social {
      text-align: center;
    }
  }
  
.section
  .container
    .content-section
      .title
        h1 About Us
      .content
        h3 StayClean Initiative
        p StayClean garbage and waste collection provides you with a range of containers and service schedules for your garbage pickup needs. Your local Waste Connections waste management facility has an inventory of commercial trash compactors, roll-off containers, and commercial dumpsters.
        .button
          a(href="#") Read more
      .social
        a(href)
          i.fab.fa-facebook
        a(href)
          i.fab.fa-twitter
        a(href)
          i.fab.fa-instagram
    .image-section
      img(src="/public/images/cleaner.jpg")