doctype html 
html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheet/addEmployee.css")
  body
    .row.justify-content-center 
            .col-md-12
                .card-body 
                  h1 REGISTER EMPLOYEE
                  .container
                    form.row.g-3.needs-validation(novalidate='' action='/addEmployee/addEmployee' method='POST' enctype='multipart/form-data')
                      .col-md-4
                        label.form-label(for='validationCustom01') First name
                        input#validationCustom01.form-control(type='text' value='' name='firstname')
                      .col-md-4
                        label.form-label(for='validationCustom02') Last name
                        input#validationCustom02.form-control(type='text' value='' name='lastname')
                      .col-md-4
                        label.form-label(for='validationCustomUsername') Username          
                        input.input-group.has-validation#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' name='username')
                      .col-md-4
                        label.form-label(for='validationCustomUsername') NIN
                        input.input-group.has-validation#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' name='nin')
                      .col-md-4
                        label.form-label(for='validationCustomUsername') Residence          
                        input.input-group.has-validation#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' name='residence')
                      .col-md-4
                        label.form-label(for='validationCustomUsername') Drivers Licence         
                        input.input-group.has-validation#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' name='licence')
                      .col-md-4
                        select.form-select(aria-label='Default select example' name='gender')
                          option(selected='') Gender
                          option(value='1') Female
                          option(value='2') Male
                      .col-md-4
                        select.form-select(aria-label='Default select example' name='status')
                          option(selected='') Status
                          option(value='1') Married
                          option(value='2') Single
                          option(value='2') Divorced
                      .col-md-4
                        select.form-select(aria-label='Default select example' name='incidences')
                          option(selected='') Incidences
                          option(value='1') Thefts
                          option(value='2') Fights
                          option(value='2') Accidents
                          option(value='2') None
                      .col-gb-4
                        span Upload image
                        input.form-control(type='file' aria-label='file example' name='imageupload')
                        label(invalid-feedback='' invalid='' form='' file='' feedback='')
                        .col-12
                        .form-check
                          input(invalidcheck='form-check-input' type='checkbox' value='' name='terms')
                          label.form-check-label(for='invalidCheck')
                            | Agree to terms and conditions
                      .col-12
                        button.btn.btn-primary(type='submit' name='btn') Submit
                        div.col.form-group
                          a(href='/addEmployee') Add Employee
                        div.col.form-group
                          a(href='/stayclean/stayclean') Stayclean
                    