extend layout 
block content
  .card.bg-dark.text-white
    img.card-img(src='./images/cleaner.jpg' alt='...' style='height: 460px;')
    .card-img-overlay
      h5.card-title
        | STAY 
        span /
        |  CLEAN
      p.card-text
        | Picking up Litter: Pointless or powerful tool in a battle to clean
        | Uganda.
      p.card-text Working towards a clean environment.
  p
    | As with all the existential environmental challenges we face today,
    | everyone has a role to play if the tide is to be definitively turned. You
    | might not have a science degree, or a role in government, but we can all
    | pick up the rubbish that is lying right in front of us. It is not the only
    | solution, but it is a critical component of the complex solution required
    | for this complex problem.
