nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href="#", style="color: green; font-size: 30px")
      | STAY
      span(style="color: #1dc4e7 ;") /
      | CLEAN
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0(style="margin-left: 600px;")
        li.nav-item
          a.nav-link.active(aria-current="page", href="#") Home
        li.nav-item
          a.nav-link.active(aria-current="page", href="#") About us
        li.nav-item
          a.nav-link(href="#") Contact us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false").
            
            Login 
          ul.dropdown-menu(aria-labelledby="navbarDropdown" name='login')
            li
              a.dropdown-item(href="#") Register
        form.d-flex
          input.form-control.me-2(type="search" placeholder="Search" aria-label="Search" name='register')
          button.submit-btn(type='submit') Register
    div 
      img(src="/public/images/wade-unsplash.jpg")