extend layout 
block content
  .container-fluid.col-lg-6
    .container
      .form-style-2
        div(style='background-color: rgb(240, 235, 235); padding: 10px; ')
          span(class='form=style-1-heading' style='font-size: 20px; font-weight: 34px') Create Orders
    form.row.g-3.needs-validation(novalidate='' action='' method='POST')
      .col-md-4
        label.form-label(for='validationCustom01') First name
        input#validationCustom01.form-control(type='text' value='firstname' required='')
      .col-md-4
        label.form-label(for='validationCustom02') Last name
        input#validationCustom02.form-control(type='text' value='lastname' required='')
      .col-md-4
        label.form-label(for='validationCustomUsername') Username
        .input-group.has-validation
          input#validationCustomUsername.form-control(type='text' value='username' required='')
          .invalid-feedback Please choose a username.
      .col-md-4
        select.form-select(aria-label='Default select example')
          option(selected='') Services requested
          option(value='1') Garbage truck
          option(value='2') Sewage truck
      .col-md-4
        select.form-select(aria-label='Default select example')
          option(selected='') Driver Allocated
          option(value='1') Driver
          option(value='2') Conductor
      .col-md-4
        select.form-select(aria-label='Default select example')
          option(selected='') Location
          option(value='1') Kampala
          option(value='2') Mukono
          option(value='2') Kawempe
      .col-lg-5
        label.form-label(for='validationCustomUsername') Truck Registration Number
        .input-group.has-validation
          input#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' required='')
          .invalid-feedback
            | Please enter a valid Registration.
      .col-12
        button.btn.btn-primary(type='submit') Create Order.