doctype html 
html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheet/register.css")
  body
    header.card-header
        h4.card-title REGISTER HERE
    form(method="POST" action='/register')
        div.form-row
            div.col.form-group
                label First name 
                input.form-control(name="firstname")
            div.col.form-group
                label Last name
                input.form-control(name="lastname")
            div.col.form-group
                label Enter email
                input.form-control(name="enteremail")
        div.form-row
            div.col.form-group
                label Create Password
                input.form-control(type="password" name="password")
        div.form-row
            div.col.form-group
                label Confirm Password
                input.form-control(type="password" name="password")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register
        div.form-row
            div.col.form-group
                a(href='/login') Login
            div.pull-right
                a(class='button', href='/') 
        