extend layout 
block content
  body
  link(rel='stylesheet' href='/public/stylesheet/login.css')
  .login-box
    h1 Login
    .textbox
      i.fas.fa-user(aria-hidden='true')
      input(type='text' placeholder='Username' name='value' required="")
    .textbox
      i.fas.fa-lock(aria-hidden='true')
      input(type='password' placeholder='Password' name='value' required="")
    input.btn(type='button' name='' value='Sign in ')
