doctype html 
html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheet/stayclean.css")
  body
    input#check(type='checkbox')
    header
      label(for='check')
        i#sidebar_btn.fas.fa-bars
      .left_area
        h3
          | Stay
          span Clean
      divc.right_area
        a.logout_btn(href='#') Logout
    .sidebar
      div
        img.profile_image(src='/public/images/cleaner.jpg' style='width: 100%')
      a(href='#')
      a
        i.fas.fa-desktop
        span Dashboard
      a(href='#')
      a
        i.fas.fa-cogs
        span Payments
      a(href='#')
      a
        i.fas.fa-table
        span Tables
      a(href='#')
      a
        i.fas.fa-th
        span Forms
      a(href='#')
      a
        i.fas.fa-info-circle
        span About
      a(href='#')
      a
        i.fas.fa-sliders-h
        span Settings
    .content
    script(src='https://kit.fontawesome.com/06eb17d45a.js' crossorigin='anonymous')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0", crossorigin="anonymous")